*.py[cod]

# Xilinx output
_xmsgs/
build/
xlnx_auto_0_xdb/
*.xrpt
par_usage_statistics.html
xilinx_device_details.xml

#SCons stuff
.sconsign.dblite

# VIM temporary files
*~
*.swp
*.swo

#Simulation Things
*.sim
*.vcd
design

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
#bin
var
sdist
develop-eggs
.installed.cfg
#lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


